@use './setup';

// vars
$regular-font: "Regular";
$medium-font: "Medium";
$cursor: pointer;
$t-1s: 1s;

@mixin dflex($fdrt: column) {
  display: flex;
  flex-direction: $fdrt;
}

%section {
  padding: 2rem 0;
  height: 100%;
}
.profile {
  justify-content: center;
  align-items: center;
  @extend %section;
  @include dflex;
}

// Profile Picture
#profile-pics {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: 2px 5px 16px 5px rgba(180, 180, 180, 0.25);
  overflow: hidden;
  margin-top: 1.4rem;

  img {
    display: inline-block;
    position: relative;
    top: -65px;
    left: -20px;
  }
}
.name-tag {
  text-align: center;
  margin: 0.9rem 0;
  line-height: 36px;

  h1 {
    font-family: $medium-font;
    font-size: 1.8em;
    font-style: normal;
    font-weight: 500;
    cursor: $cursor;
  }

  span {
    font-weight: 400;
    font-size: 1.2em;
    color: #979797;
    cursor: $cursor;
  }
}

.social-media {
  margin-bottom: 2rem;

  a {
    text-decoration: none;
    padding: 0 1.2rem;
    font-size: 2.5em;
    color: #000;
    transition: $t-1s;
  }

  a:hover {
    color: rgb(121, 121, 121);
  }
}

button {
  width: 10vw;
  padding: 0.6rem 1.2rem;
  cursor: $cursor;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  font-family: $medium-font;
  font-size: 0.98em;
  transition: $t-1s;
  filter: drop-shadow(1px 1px 5px rgb(189, 189, 189));
}

button:hover {
  background-color: rgb(26, 26, 26);
}

.others {
  @extend %section;

  .skills-ctn {
    padding-left: 10rem;
    @include dflex($fdrt: row);

    .skill-dv {
      width: 100%;
      position: relative;
      right: -20px;
      border: 2px dashed #d6d6d6;
      border-radius: 10px;
      padding: 1.2rem 3rem;
      @include dflex;
      margin-bottom: 1rem;
      box-shadow: 1px 1px 5px #e1dede;

      .skill-icon-name {
        width: 100%;
        @include dflex($fdrt: row);
        justify-content: space-between;
        line-height: 30px;
        text-transform: lowercase;

        span {
          font-size: 1.2em;
          color: #979797;
          font-weight: 500;
          font-family: $medium-font;
        }

        span::before {
          content: "#";
          color: #2ad000;
        }

        span + div {
          text-align: left;
          width: auto;
        }

        span + div > i {
          padding: 0.6rem;
          color: #adff98;
          text-align: left;
        }
      }
    }
  }
}

.icon {
  @include dflex;
  @extend %section;
  align-items: center;
  text-align: center;
  padding: 1.2rem 2rem;

  span {
    font-size: 1.1em;
    color: #737373;
    font-family: $medium-font;
  }

  i {
    font-size: 4em;
    justify-self: flex-start;
  }
}

.academic {
  flex-direction: column !important;

  .skill-icon-name {
    flex-direction: column !important;
    margin-bottom: 1rem;
    p {
      text-transform: capitalize;
      font-size: 1.2em;
      color: #979797;
      font-family: $medium-font;
    }

    p + p {
      color: #2ad000;
    }
  }
}

#other_ctn {
  display: none;
}

footer {
  padding: 1.2rem 0;
  text-align: center;
  font-size: 0.987em;
  color: #979797;
}
